RABBITMQ_FROM_HOST=civpldocker03.herringbank.com
RABBITMQ_FROM_PORT=15672
RABBITMQ_FROM_USERNAME=guest
RABBITMQ_FROM_PASSWORD=guest

RABBITMQ_TO_HOST=rabbitmq
RABBITMQ_TO_PORT=15672
RABBITMQ_TO_USERNAME=rabbitmq
RABBITMQ_TO_PASSWORD=rabbitmq